<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <div class="px-4 py-5 my-5 text-center">
            <img class="masthead-avatar mb-5" src="Assets/images/logo.png" alt="" width="250" height="250" />
            <h1 class="display-5 fw-bold">Adeyemi Oyinlola</h1>
            <div class="col-lg-6 mx-auto">
                <p class="featurette-heading">UI/UX | Developer | Entrepreneur</p>
                <p class="lead mb-4">Freelance Web Designer & Developer based in Toronto, Canada. Highly experienced in designing & developing custom websites and WordPress based websites..</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                </div>
            </div>
        </div>

        <div class="bg-dark text-secondary px-4 py-5 text-center">
            <div class=" col-lg-10 mx-auto row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="Assets/images/bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Fully responsive, custom designed websites</h1>
                    <p class="lead">I help designers, small agencies and businesses bring their ideas to life. Powered by Figma, VS Code and coffee, I turn your requirements into CMS-ified and ecommerce-ified websites - on time and on budget..</p>

                </div>
            </div>
        </div>




        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>